.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background:rgb(216, 210, 202);
    background-clip: border-box;
    border: 1px solid rgba(0, 0,0,0,2);
    border-radius: 25px;
}